################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/kTVCSS/bin/Debug/net5.0
/kTVCSS/obj
/Plugins-SourcePawn/include/clientmod.inc
/Plugins-SourcePawn/include/clientmod
/Plugins-SourcePawn/scripting/clientmod
/Plugins-SourcePawn/scripting/clientmod.inc
/Plugins/include/clientmod
/Plugins/include
/Plugins/plugins
/Plugins/scripting/clientmod
/Plugins/scripting/clientmod.inc
/Tests/MatchResultPicture/.vs/MatchResultPicture
/Tests/MatchResultPicture/MatchResultPicture/bin/Debug
/Tests/MatchResultPicture/MatchResultPicture/obj/Debug
/Tests/MatchResultPicture/MatchResultPicture
/kTVCSS/bin/Release/net5.0
/CupWorker/.vs/CupWorker
/CupWorker/CupWorker/obj
/CupWorker/CupWorker/bin/Debug/net5.0
/WardenCat/.vs/WardenCat
/WardenCat/WardenCat/bin/Debug/net5.0
/WardenCat/WardenCat/obj
/KLauncher/KLauncher/bin/Debug/net5.0
/KLauncher/KLauncher/obj
/KLauncher/.vs/KLauncher/v17
/KLauncher/.vs/KLauncher/DesignTimeBuild
/KLauncher/.vs/KLauncher
/.vscode
/Tests/FTPTool/.vs/FTPTool/v17
/Tests/FTPTool/FTPTool/bin/Debug/net5.0
/Tests/FTPTool/FTPTool/obj
/Tests/FTPTool/.vs/FTPTool/DesignTimeBuild
/Tests/FTPTool/.vs/FTPTool
/Deprecated
/Tests/PrintAVGTeamsTest/.vs/PrintAVGTeamsTest
/Tests/PrintAVGTeamsTest/PrintAVGTeamsTest/bin/Debug/net5.0
/Tests/PrintAVGTeamsTest/PrintAVGTeamsTest/obj
/CoreRcon-master/src/CoreRCON/obj
