################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/kTVCSS/bin/Debug/net5.0
/kTVCSS/obj
/Plugins-SourcePawn/include/clientmod.inc
/Plugins-SourcePawn/include/clientmod
/Plugins-SourcePawn/scripting/clientmod
/Plugins-SourcePawn/scripting/clientmod.inc
/Plugins/include/clientmod
/Plugins/include
/Plugins/plugins
/Plugins/scripting/clientmod
/Plugins/scripting/clientmod.inc
/Tests/MatchResultPicture/.vs/MatchResultPicture
/Tests/MatchResultPicture/MatchResultPicture/bin/Debug
/Tests/MatchResultPicture/MatchResultPicture/obj/Debug
