USE [kTVCSS]
GO
/****** Object:  UserDefinedFunction [dbo].[GetPlayerAVG]    Script Date: 27.02.2022 13:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetMatchMVP](@ID int)
RETURNS nvarchar(50)
AS
BEGIN
	DECLARE @STEAMID nvarchar(50)
	SELECT TOP(1) @STEAMID = STEAMID FROM MatchesHighlights WHERE ID = @ID GROUP BY STEAMID ORDER BY SUM(OPENFRAGS + TRIPPLES + QUADROS + RAMPAGES) DESC
	return @STEAMID;
END



