USE [kTVCSS]
GO
/****** Object:  UserDefinedFunction [dbo].[GetPlayerAVG]    Script Date: 10.12.2021 22:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetPlayerAVG](@STEAMID nvarchar(30))
RETURNS float
AS
BEGIN
	DECLARE @KILLTABLE TABLE (KILLS INT)
	INSERT INTO @KILLTABLE SELECT TOP 20(KILLS) FROM [dbo].[MatchesResults] WHERE STEAMID = @STEAMID ORDER BY ID DESC

    DECLARE @AVG FLOAT
	SELECT @AVG = AVG(CAST(KILLS AS FLOAT)) FROM @KILLTABLE
	return @AVG;
END



